name: Run Tests

on:
    push:
        branches: 
            - main  # Run tests on push to main
            - adding_confugrable_data_types 

    pull_request:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            python-version: 3.11
        
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Install current project
          run: pip install -e .

        - name: Run tests
          run: |
            pytest
